.table-container {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}

.table {
    font-family: Arial, sans-serif;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #343a40;
    font-size: 14px;
}


.table th {
    color: white;
}

.table tbody tr:nth-child(even) {
    border-radius: 20px;
}

.table tbody tr:hover {
    background-color: rgb(255, 255, 255);
}

.table img {
    width: 60px;
    height: auto;
    object-fit: cover;
}

.btn-remove {
    background-color: rgb(227, 30, 30);
    border: 1px solid rgb(227, 30, 30);
    padding: 5px 8px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

.btn-remove:hover {
    border: 1px solid rgb(227, 30, 30);
    background-color: rgb(255, 255, 255);
    color: rgb(227, 30, 30);
}

.btn-update {
    background-color: rgb(85, 255, 0);
    border: 1px solid rgb(53, 227, 30);
    padding: 5px 8px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

.btn-update:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(42, 139, 20);
}

.list-table-format.title {
    background-color: #e9e9e9;
}

.list-table-format img {
    width: 80px;
    height: auto;
}

.cursor {
    cursor: pointer;
    text-decoration: none;
    color: red;
}

@media (max-width:600px) {


    .list-table-format.title {
        display: none;
    }
}